.navbar {
  font-size: 16px;
  font-family: Helvetica, Ubuntu, Verdana, Geneva, Tahoma, sans-serif;

  --navbar-text: #fff;
  --navbar-padding:0.5em;
  --navbar-bg-1: #fbb33250;
  --navbar-bg-2: #00ff0050;
  --navbar-direction: row;    /* row, column */
  --item-direction: column;    /* row, column */
  --item-align: center;    /* start, end, center */
  --navbar-size-min: 5em;
  --navbar-size-max-x: 100vw;
  --navbar-size-max-y: auto;
  --transition-speed: 700ms;
}

.navbar::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/**/
.navbar{
    max-width: 100vw;
    position: fixed;
    display: flex;
    flex-direction: var(--navbar-direction);
    align-items: var(--item-align);
    align-content: stretch;
    justify-content: start;
    text-align: center;
    overflow: hidden;
    background-image: linear-gradient(46deg, var(--navbar-bg-1) 25%, var(--navbar-bg-2) 100%);
    background-color: var(--navbar-bg-1);
    filter: opacity(70%);
}

.navbar-logo {
    width: var(--navbar-size-min);
    height: var(--navbar-size-min);
}

.navbar-collapse {
    display: flex;
    align-items: var(--item-align);
    width: calc(100vw - var(--navbar-size-min));
    flex-direction: var(--navbar-direction);
    align-items: var(--item-align);
    justify-content: space-between;
    transition-duration: var(--transition-speed);
}

#menu-switch:checked ~ .navbar-collapse {
    display: flex;
    height: var(--navbar-size-min);
    width: 0;
    align-items: var(--item-align);
    transform: translateX(100vw);
    transition-duration: var(--transition-speed);
}

.navbar-group {
    display: flex;
    flex-direction: var(--navbar-direction);
    align-items: var(--item-align);
    justify-content: center;
}

.navbar-icon{
    font-size: xx-large;
    content: var(--icon, none);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.navbar-item, .navbar-logo {
    max-height: var(--navbar-size);
    padding-left: var(--navbar-padding);
    padding-right: var(--navbar-padding);
    display: flex;
    flex-direction: var(--item-direction);
    align-items: center;
    align-content: stretch;
    justify-content: center;
    text-decoration: none;
    color: var(--text);
}

.navbar-text {
    padding: 0;
    margin: 0;
    }


@media (max-width: 600px) {
.navbar-text {
    display: none;
}

.navbar-collapse {
    overflow: scroll;
}

}

@media print {
    .navbar {display: none;};

}
