:root {
  /* Theme WEB */

  --font-family: Helvetica, Ubuntu, Verdana, Geneva, Tahoma, sans-serif; /*'Times New Roman', Times, serif, Verdana, Helvetica, sans-serif;*/
  --font-family-titles: Impact;
  --font-size: 16pt; /*10pt*/
  --line-height: 1.6;
  --color-bg: #ccc;
  --color-bg-hover: #eee;
  --color-bg-title: #503010;
  --color-section: #d03030;
  --color-subsection: #309030;
  --color-subsubsection: #3333ff;
  --color-exo: #103050;
  --color-defi: #503010;
  --color-theo: #503010;
  --color-meth: darkgreen;
  --color-bg-title: #fbb332;
  --color-bg-defi: #fbb332;
  --color-bg-theo: #fbb332;
  --color-bg-exo: #33a5ee;
  --color-bg-surl: #00ff0055;
  --color-bg-table-1: #bbb8;
  --color-bg-table-2: #ccc8;
  --color-bg-table-3: #ddd8;
  --border: 1px solid;
  --border-opacity: 0.1;
  --border-radius: 0.2em;
  --shadow: 0.2em;
  --margin: 0.4em;
  --padding: 0.5em;
  --transition-speed: 700ms;
  --float: right;
  --width: 32vw;
  --height: auto;
}

body, .subbody{
  box-sizing: border-box;
  padding: 0 0;
  margin: 0 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow-x: auto;
  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: var(--line-height);
  background-color: var(--color-bg);
  counter-reset: section exo defi prop theo rema exem;
}
.subbody:hover {transition: none;}

div:hover:not(.subbody) {
    transition: background-image var(--transition-speed) ease-in-out;
    background-image: linear-gradient(-90deg, rgba(255,255,255,0.5) 90%, rgba(255,255,255,0.9) 100%);
}

h1, h2, h3, h4, h5, h6 {font-family: var(--font-family-titles); padding: 0 var(--padding)}
ul, ol {margin: 0;}
a {color: inherit; text-decoration: underline;}

/*A Revoir*/
li li::before {
    color : lighter;
    }


figure {
    float: var(--float);
    text-align: center;
    font-size: smaller;
    font-style: italic;
}

img {
    float: var(--float);
    height: var(--height);
    width: var(--width);
    transition-duration: var(--transition-speed);
}

img:active {
    max-height: 40vh;
    max-width: 40vw;
    background-color: var(--color-bg);
    transform: scale(2, 2) translate(-25%, 0);
    -ms-transform: scale(2, 2) translate(-25%, 0);
    -webkit-transform: scale(2, 2) translate(-25%, 0);
    transition-duration: var(--transition-speed);
}

.titre {
    background-image: linear-gradient(46deg, var(--color-bg-title) 25%, var(--color-bg-surl) 100%);
    box-shadow: var(--shadow) var(--shadow) var(--shadow) grey;
    border-color: rgba(0,0,0,var(--border-opacity));
    border: var(--border);
    border-radius: var(--border-radius);
    text-align: center;
    counter-reset: section exo defi prop theo rema exem;
}

.section-nocounter, .section, section {
    color: var(--color-section); 
    margin: var(--margin);
}
.section, section {counter-reset: subsection subsubsection ;}
.section::before, section::before {counter-increment: section;content: counter(section) ". ";}

.subsection, .subsection-nocounter {
    color: var(--color-subsection);
    margin: var(--margin);
}
.subsection         {counter-reset: subsubsection ;}
.subsection::before {counter-increment: subsection;content: counter(section) "." counter(subsection) ". ";}

.subsubsection, .subsubsection-nocounter{
    color: var(--color-subsubsection);
    margin: var(--margin);
}
.subsubsection::before {counter-increment: subsubsection; content: counter(section) "." counter(subsection) "." counter(subsubsection) ". ";}

.exo, .exo-nocounter {
    color: var(--color-exo);
    background-color: var(--color-bg-exo);
    border: var(--border);
    border-color: rgba(0, 0, 0, var(--border-opacity));
    border-radius: var(--border-radius);
}
.exo         {counter-increment: exo;}
.exo::before {font-weight: bold; content: "Exercice " counter(exo) " : "; }

.defi {
    color: var(--color-defi);
    font-style: italic;
    background-color: var(--color-bg-defi);
    border: var(--border);
    border-radius: var(--border-radius);
    border-color: rgba(0, 0, 0, var(--border-opacity));
    counter-increment: defi;
}
.defi::before   {font-weight: bold; content: "Définition " counter(defi) " : ";}

.prop           {counter-increment: prop; margin: var(--margin); padding: var(--padding);}
.prop::before   {font-weight: bold; content: "Propriété " counter(prop) " : ";}

.theo {
    color: var(--color-theo);
    background-color: var(--color-bg-theo);
    border: var(--border);
    border-radius: var(--border-radius);
    box-shadow: var(--shadow) var(--shadow) var(--shadow) gray;
    border-color: rgba(0, 0, 0, var(--border-opacity));
    counter-increment: theo;
}
.theo::before   {font-weight: bold; content: "Théorème " counter(theo) " : ";}

.rema           {counter-increment: rema; margin: var(--margin); padding: var(--padding);}
.rema::before   {font-weight: bold; content: "Remarque " counter(rema) " : ";}

.exem           {counter-increment: exem; margin: var(--margin); padding: var(--padding);}
.exem::before   {font-weight: bold; content: "Exemple " counter(exem) " : ";}

.meth           {color : var(--color-meth); counter-increment: meth; margin: var(--margin); padding: var(--padding);}
.meth::before   {font-weight: bold; content: "Méthode " counter(meth) " : ";}


.titre, .prop, .rema, .exem, .meth, .theo, .defi, .exo, .exo-nocounter, .none {margin: var(--margin); padding: var(--padding);}

.surl {background-color: var(--color-bg-surl); height: max-content; padding: var(--padding)0.1em;}

.mytable{
    --mytable-border-radius: 1em;
    --mytable-padding: 0.5em;
    --cell-height: auto;
    --cell-width: auto;
    float: var(--float);
    /*max-width: var(--width);
    max-height: var(--height);
    /*border-collapse: collapse;*/
    border-spacing: 0;
    border: var(--border);
    border-color: rgba(0, 0, 0, min(calc(5*var(--border-opacity)),1));
    border-radius: var(--mytable-border-radius);
}

.mytable th, .mytable td {
    height: var(--cell-height);
    width: var(--cell-width);
    text-align: center;
    border: 1px solid;
    border-color: rgba(0, 0, 0, min(calc(3*var(--border-opacity)),1));
    padding: var(--mytable-padding);
    overflow-x: scroll;
}

.mytable tr:first-child>th:first-child, .mytable tr:first-child>td:first-child 
                                {border-top-left-radius: var(--mytable-border-radius);}
.mytable tr:first-child>th:last-child, .mytable tr:first-child>td:last-child  
                                {border-top-right-radius: var(--mytable-border-radius);}
.mytable tr:last-child>th:first-child, .mytable tr:last-child>td:first-child 
                                {border-bottom-left-radius: var(--mytable-border-radius);}
.mytable tr:last-child>th:last-child, .mytable tr:last-child>td:last-child 
                                {border-bottom-right-radius: var(--mytable-border-radius);}
.mytable th                     {background-color: var(--color-bg-table-1);}
.mytable tr:nth-child(even)>td  {background: var(--color-bg-table-2);}
.mytable tr:nth-child(odd)>td   {background: var(--color-bg-table-3);}
.mytable td>ol, .mytable td>ul  {text-align: left;}
.mytable td>img, .mytable td>figure  {float: none;}

.arrangement {
    margin: 0;
    padding: 0;
    display:flex;
    --float:none;
    --width:100%;
    overflow-x: scroll;
}

@media (max-width: 800px) {
    
    div, table {
        overflow-x: scroll;
        overflow-y: hidden;
    }

    .mytable, img, img:active {
        --float: none;
        width: 100%;
        max-width: 100vw;
        max-height: 100%;
        transform: none;
        -ms-transform: none;
        -webkit-transform: none;
        transition: none;
        background: none;
        overflow-x: scroll;
        font-size: smaller;
    }

    .arrangement {
        flex-direction: column;
    }
}

@page { 
    size: A4;
    margin-top: 2em;
    margin-bottom: 2em;
}

@media print {
    :root {
      /* Theme PRINT */

      --font-family: 'Times New Roman', Times, serif, Verdana, Helvetica, sans-serif;
      --font-family-titles:  'Times New Roman', Times, serif, Verdana, Helvetica, sans-serif;
      --font-size: 10pt;
      --line-height: auto;
      --color-section : darkred;
      --color-subsection : darkgreen;
      --color-subsubsection : darkviolet;
      --color-title: #503010;
      --color-exo: #103050;
      --color-defi: #503010;
      --color-theo: #503010;
      --color-meth: darkgreen;
      --color-bg-title: #fbb332;
      --color-bg-defi : #fbb332;
      --color-bg-theo : #fbb332;
      --color-bg-exo : #33a5ee;
      --color-bg-surl : #00ff0055;
      --color-bg-table-1 : #bbb8;
      --color-bg-table-2 : #ccc8;
      --color-bg-table-3 : #ddd8;
      --border: 0.1em solid;
      --border-opacity: 0.1;
      --border-radius: 0.2em;
      --shadow: 0.2em;
      --margin : 0.2em;
      --padding : 0.5em;
      --float : right;
      --width-print: auto;
      --height-print: auto;
    }

    html, body, .subbody {
        display: block;
        font-family : var(--font-family); 
        font-size: var(--font-size);
    }

    /*body                           {max-width: 210mm; max-height: 297mm;}*/
    .pagebreak                       {page-break-before: always;}
    .subbody+.subbody                {page-break-after: always;}
    .titre, .section, .section-nocounter, .subsection, .subsection-nocounter, .subsubsection                                    {page-break-after: avoid!important;}
    .titre+div, .section+div, .section-nocounter+div, .subsection+div, .subsection-nocounter+div, .subsubsection+div            {page-break-before: avoid!important;}
    .mytable, table, figure, img     {page-break-inside: avoid!important;}
    div                              {page-break-inside: avoid;}
    .mytable td>ol, .mytable td>ul, .mytable td>img, .mytable td>figure 
                                     {text-align: left;float: none;}

    .mytable, img, img:active, figcaption {
        --float-print: var(--float);
        --width-print: auto;
        --height-print: auto;
        --cell-width-print: auto;
        --cell-height-print: auto;
        float: var(--float-print);
        width: var(--width-print);
        height: var(--height-print);
        max-width: 100%;
        max-height: 100%;
        transform: none;
        -ms-transform: none;
        -webkit-transform: none;
        transition: none;
        background: none;
        font-size: smaller;
    }

    .mytable th, .mytable td {
        height: var(--cell-height-print);
        width: var(--cell-width-print);
    }

    .surl {
        background-color: transparent;
        border: solid 0.2em;
        border-color: var(--color-bg-surl);
        border-radius: rgba(var(--border-radius),0.2);
        padding: var(--padding) 0.1em;
    }


    .section-nocounter, .section, section {color: var(--color-section); margin: var(--margin);}

    .subsection, .subsection-nocounter {color: var(--color-subsection); margin: var(--margin);}

    .subsubsection, .subsection-nocounter{color: var(--color-subsubsection); margin: var(--margin);}
    .exo, .exo-nocounter, .defi, .theo {border: var(--border); border-radius: var(--border-radius);}

    .exo, .exo-nocounter {
        color: var(--color-exo);
        border-color: var(--color-bg-exo);
    }

    .defi {
        color: var(--color-defi);
        font-style: italic;
        border-color: var(--color-bg-defi);
    }

    .theo {
        color: var(--color-theo);
        box-shadow: var(--shadow) var(--shadow) var(--shadow) gray;
        border-color: var(--color-bg-theo);
    }

    .meth {
        color: var(--color-meth);
    }

    .titre {
        margin-bottom: 1em; 
        color: var(--color-title); 
        border-color: var(--color-title);
    }

    .titre, .prop, .rema, .exem, .meth, .theo, .defi, .exo, .exo-nocounter {margin: var(--margin); padding: var(--padding);
    }

    .arrangement {
        flex-direction: row;
    }


    .href-print::after{
        content: " (url : " attr(href) ")";
        text-decoration: none;
    }

    /* ... the rest of the rules ... */
}
