:root {
  /* Theme 1 */
  --font-size-web: 16pt;
  --font-size-print: 10pt;
  --color-bg: #eee;
  --color-bg-hover: #fff;
  --color-section : darkred;
  --color-subsection : darkgreen;
  --color-subsubsection : darkviolet;
  --color-exo: #103050;
  --color-defi: #503010;
  --color-bg-defi : #fbb332;
  --color-bg-exo : #33a5ee;
  --color-bg-surl : #00ff00;
  --margin : 0.3em;
  --transition-speed: 700ms;
}




body, .subbody{
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow-x: auto;
  font-family: Ubuntu, Verdana, Geneva, Tahoma, sans-serif;
  font-size: var(--font-size-web);
  line-height: 1.6;
  background-color: var(--color-bg);
  counter-reset: section exo defi prop theo rema exem;
}

.subbody {
  counter-reset: section exo defi prop theo rema exem;
}

.subbody:hover {
  transition: none;
}


div:hover {
    transition: background-image 1s ease-in-out;
    background-image: linear-gradient(-90deg, rgba(255,255,255,0.5) 90%, rgba(255,255,255,0.9) 100%);
}

a {
    color: inherit;
    text-decoration: none;
}
img {
    float: right;
    max-width: 30%;
    max-height: 100%;
    transition-duration: var(--transition-speed);
}

img:active {
    z-index: 1000;
    max-height: 90vh;
    max-width: 90vw;
    background-color: var(--color-bg);
    transform: scale(2, 2) translate(-25%, 0);
    -ms-transform: scale(2, 2) translate(-25%, 0);
    -webkit-transform: scale(2, 2) translate(-25%, 0);
    transition-duration: var(--transition-speed);
}
.titre {
    text-align: center;
    background-image: linear-gradient(45deg, var(--color-subsection) 25%, var(--color-subsubsection) 100%);
    border: 0.2em solid;
    box-shadow: 0.5em 0.5em 0.5em grey;
    border-color: var(--color-section);
    border-radius: 0.2em;
    margin: var(--margin);
    counter-reset: section exo defi prop theo rema exem;
}

.section, section {
    color: var(--color-section);
    margin: var(--margin) ;
    counter-reset: subsection subsubsection ;
}
.section::before, section::before {
    counter-increment: section;
    content: counter(section) ". ";
}

.subsection {
    color: var(--color-subsection);
    margin: var(--margin);
    counter-reset: subsubsection ;
}

.subsection::before {
    counter-increment: subsection;
    content: counter(section) "." counter(subsection) ". "; 
}

.subsubsection {
    color: var(--color-subsubsection);
    margin: var(--margin);
}
.subsubsection::before {
    counter-increment: subsubsection;
    content: counter(section) "." counter(subsection) "." counter(subsubsection) ". "; 
}

.exo {
    color: var(--color-exo);
    background-color: var(--color-bg-exo);
    padding: 0.5em;
    margin: var(--margin);
    border: solid 1px;
    border-radius: 0.2em;
    counter-increment: exo;
}
.exo::before {
    font-weight: bold;
    content: "Exercice " counter(exo) " : "; 
}
.defi {
    color: var(--color-defi);
    font-style: italic;
    background-color: var(--color-bg-defi);
    padding: 0.5em;
    margin: var(--margin);
    border: solid 1px;
    border-radius: 0.2em;
    counter-increment: defi;
}

.defi::before {
    font-weight: bold;
    content: "Définition " counter(defi) " : "; 
}

.prop{
    counter-increment: prop;
}

.prop::before {
    font-weight: bold;
    content: "Proposition " counter(prop) " : "; 
}

.theo {
    color: var(--color-defi);
    background-color: var(--color-bg-defi);
    padding: 0.5em;
    margin: var(--margin);
    border: solid 1px;
    border-radius: 0.2em;
    box-shadow: 0.5em 0.5em 0.5em gray;
    counter-increment: theo;
}

.theo::before {
    font-weight: bold;
    content: "Théorème " counter(theo) " : ";
}

.rema {
    counter-increment: rema;
}

.rema::before {
    font-weight: bold;
    content: "Remarque " counter(rema) " : "; 
}

.exem {
    counter-increment: exem;
}
.exem::before {
    font-weight: bold;
    content: "Exemple " counter(exem) " : "; 
}

.meth {
    color : darkgreen;
    counter-increment: meth;
}
.meth::before {
    font-weight: bold;
    content: "Méthode " counter(meth) " : "; 
}

.surl {
    background-color: var(--color-bg-surl) ;
}

@media (max-width: 600px) {
    img {
        float: unset;
        max-width: 100%;
        max-height: 100%;
    }
    img:active {
        background: unset;
    }
}

@page {
  size: A4;
  margin: 0.9em;
  }
@media print {
    .pagebreak { page-break-before: always; } /* page-break-after works, as well */
    html, body, .subbody {
        display: block;
        font-family: 'Times New Roman', Times, serif, Verdana, Helvetica, sans-serif;
        font-size: var(--font-size-print);
    }
    body {
        width: 210mm;
        height: 297mm;
        margin-top: 5mm; margin-bottom: 5mm; margin-left: 5mm; margin-right: 5mm;
    }
    div {
        break-inside: avoid;
    }
    img {
    float: none;
    max-width: 40%;
    max-height: 100%;
    }
    
    .surl {
        border: solid 0.2em;
        border-color: var(--color-bg-surl);
        border-radius: 0.1em;
    }
    /* ... the rest of the rules ... */
}
