:root {
  /* Theme 1 */
  --font-size-web: 16pt;
  --font-size-print: 10pt;
  --color-bg: #eee;
  --color-bg-hover: #fff;
  --color-section : darkred;
  --color-subsection : darkgreen;
  --color-subsubsection : darkviolet;
  --color-exo: #103050;
  --color-defi: #503010;
  --color-bg-defi : #fbb332;
  --color-bg-exo : #33a5ee;
  --color-bg-surl : #00ff0055;
  --color-bg-table-1 : #bbb8;
  --color-bg-table-2 : #ccc8;
  --color-bg-table-3 : #ddd8;
  --margin : 0em;
  --padding : 0.5em;
  --transition-speed: 700ms;
  --float : right;
}

body, .subbody{
  box-sizing: border-box;
  padding: 0 0;
  margin: 0 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow-x: auto;
  font-family: Helvetica, Ubuntu, Verdana, Geneva, Tahoma, sans-serif;
  font-size: var(--font-size-web);
  line-height: 1.6;
  background-color: var(--color-bg);
  counter-reset: section exo defi prop theo rema exem;
}
.subbody:hover {transition: none;}

mjx-container {margin: 0;}

div:hover:not(.subbody) {
    transition: background-image var(--transition-speed) ease-in-out;
    background-image: linear-gradient(-90deg, rgba(255,255,255,0.5) 90%, rgba(255,255,255,0.9) 100%);
}

h1, h2, h3, h4, h5, h6 {font-family: Impact;}

a {color: inherit; text-decoration: underline;}

figure {
    float: var(--float);
    backdrop-filter: blur(1em);
    text-align: center;
    font-size: smaller;
    font-style: italic;
}

img {
    float: var(--float);
    max-height: 45vh;
    max-width: 30vw;
    transition-duration: var(--transition-speed);
}

img:active {
    max-height: 40vh;
    max-width: 40vw;
    background-color: var(--color-bg);
    transform: scale(2, 2) translate(-25%, 0);
    -ms-transform: scale(2, 2) translate(-25%, 0);
    -webkit-transform: scale(2, 2) translate(-25%, 0);
    transition-duration: var(--transition-speed);
}

.titre {
    background-image: linear-gradient(45deg, #aaa 25%, #ccc 100%);
    border: 0.1em solid;
    box-shadow: 0.3em 0.3em 0.3em grey;
    border-color: var(--color-section);
    border-radius: 0.2em;
    text-align: center;
    padding: var(--padding);
    margin: var(--margin);
    counter-reset: section exo defi prop theo rema exem;
}

.section-nocounter, .section, section {
    color: var(--color-section); 
    margin: var(--margin);
}
.section, section {counter-reset: subsection subsubsection ;}
.section::before, section::before {counter-increment: section;content: counter(section) ". ";}

.subsection, .subsection-nocounter {
    color: var(--color-subsection);
    margin: var(--margin);
}
.subsection         {counter-reset: subsubsection ;}
.subsection::before {counter-increment: subsection;content: counter(section) "." counter(subsection) ". ";}

.subsubsection, .subsection-nocounter{
    color: var(--color-subsubsection);
    margin: var(--margin);
}
.subsubsection::before {counter-increment: subsubsection; content: counter(section) "." counter(subsection) "." counter(subsubsection) ". ";}

.exo, .exo-nocounter {
    color: var(--color-exo);
    background-color: var(--color-bg-exo);
    padding: var(--padding);
    margin: var(--margin);
    border: solid 20px rgba(#000, .2);;
    border-radius: 0.2em;
}
.exo         {counter-increment: exo;}
.exo::before {font-weight: bold; content: "Exercice " counter(exo) " : "; }

.defi {
    color: var(--color-defi);
    font-style: italic;
    background-color: var(--color-bg-defi);
    padding: var(--padding);
    margin: var(--margin);
    border: solid 1px;
    border-radius: 0.2em;
    counter-increment: defi;
}
.defi::before   {font-weight: bold; content: "Définition " counter(defi) " : ";}

.prop           {counter-increment: prop;}
.prop::before   {font-weight: bold; content: "Propriété " counter(prop) " : ";}

.theo {
    color: var(--color-defi);
    background-color: var(--color-bg-defi);
    padding: 0.5em;
    margin: var(--margin);
    border: solid 1px;
    border-radius: 0.2em;
    box-shadow: 0.5em 0.5em 0.5em gray;
    counter-increment: theo;
}
.theo::before   {font-weight: bold; content: "Théorème " counter(theo) " : ";}

.rema           {counter-increment: rema;}
.rema::before   {font-weight: bold; content: "Remarque " counter(rema) " : ";}

.exem           {counter-increment: exem;}
.exem::before   {font-weight: bold; content: "Exemple " counter(exem) " : ";}

.meth           {color : darkgreen; counter-increment: meth;}
.meth::before   {font-weight: bold; content: "Méthode " counter(meth) " : ";}

.surl {background-color: var(--color-bg-surl); height: max-content;}

.mytable{
    --mytable-border-radius: 1em;
    --mytable-padding: 0.5em;
    float: var(--float);
    /*border-collapse: collapse;*/
    border-spacing: 0;
    border: 1px solid black;
    border-radius: var(--mytable-border-radius);
}

.mytable th, td {
    text-align: center;
    border: 1px solid grey;
    padding: var(--mytable-padding);
}

.mytable tr:first-child>th:first-child, .mytable tr:first-child>td:first-child 
                                {border-top-left-radius: var(--mytable-border-radius);}
.mytable tr:first-child>th:last-child, .mytable tr:first-child>td:last-child  
                                {border-top-right-radius: var(--mytable-border-radius);}
.mytable tr:last-child>th:first-child, .mytable tr:last-child>td:first-child 
                                {border-bottom-left-radius: var(--mytable-border-radius);}
.mytable tr:last-child>th:last-child, .mytable tr:last-child>td:last-child 
                                {border-bottom-right-radius: var(--mytable-border-radius);}
.mytable th                     {background-color: var(--color-bg-table-1);}
.mytable tr:nth-child(even)>td  {background: var(--color-bg-table-2);}
.mytable tr:nth-child(odd)>td   {background: var(--color-bg-table-3);}
.mytable td>ol, .mytable td>ul  {text-align: left;}
.mytable td>img, .mytable td>figure  {float: none;}



@media (max-width: 800px) {

    body {
        max-width: 100vh;
        overflow-x: hidden;
    }
    .mytable, img, img:active, figure {
        --float: unset;
        width: 100%;
        max-height: 100%;
        transform: none;
        -ms-transform: none;
        -webkit-transform: none;
        transition: none;
        background: none;
        overflow-x: scroll;
        font-size: x-small;
    }

}

@page { 
    size: A4;
    margin-top: 2em;
    margin-bottom: 2em;
}

@media print {
    html, body, .subbody {
        display: block;
        font-family: 'Times New Roman', Times, serif, Verdana, Helvetica, sans-serif;
        font-size: var(--font-size-print);
    }
    /*body {
        max-width: 210mm;
        max-height: 297mm;
    }*/
    .pagebreak { 
        page-break-before: always; 
    }
    
    div {
        break-inside: avoid;
    }

    .titre, h1, h2, h3, h4, h5 {
        page-break-after: avoid;
    }

    .titre {
        margin-bottom: 1em;
    }

    .mytable, table, figure, img {
        background-color: white;
        page-break-inside: avoid;
    }

    .mytable td>ol, .mytable td>ul, .mytable td>img, .mytable td>figure {
    text-align: left;
    float: none;
    }
   
    .surl {
        background-color: transparent;
        border: solid 0.2em;
        border-color: var(--color-bg-surl);
        border-radius: 0.1em;
    }
    /* ... the rest of the rules ... */
}
