:root {
  --font-size-display: 30px;
  --font-family-display: 'Monospace';
  --font-color-display: black;
  --bg-display-1: #80ba9d;
  --bg-display-2: #cee7d7;
  --font-size-keyboard: 24px;
  --font-family-keyboard: 'Sans-Serif';
  --font-color-keyboard: black;
  --bg-keyboard-1: #405f63;
  --bg-keyboard-2: #dfa900;
  --bg-keyboard-hover: #808080;
  --font-size-config: 15px;
  --font-family-config: 'Sans-Serif';
  --font-color-config: black;
  --bg-main-container: #33a276;
  --bg-valid : #00ff00;
  --bg-invalid : #ff0000;
  --transition-speed: 500ms;
}

*, * ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main-container, body {
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: var(--bg-main-container);
    padding: 1em;
    max-width: 400px;

}

#display {
  background-color: var(--bg-3);
  font-family: var(--font-family-display);
  font-size: var(--font-size-display);
  color: var(--font-color-display);
}

.display-label {
  background-color: var(--bg-display-1);
}

.display-var {
  background-color: var(--bg-display-2);
  float: right;
}

#keyboard {
  margin: 1em;
  background-color: var(--bg-main-container);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  }

#keyboard>div{
  font-family: var(--font-family-keyboard);
  font-size: var(--font-size-keyboard);
  color: var(--font-color-keyboard);
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
  margin: 0.1em;
  border: 1px solid;
  border-radius: 0.4em;
}

#keyboard>div:hover{
  background-color: var(--bg-display-2);
  transition-duration: var(--transition-speed);
}


#key7 {grid-column: 1; grid-row: 1; background-color: var(--bg-keyboard-1);}
#key8 {grid-column: 2; grid-row: 1; background-color: var(--bg-keyboard-1);}
#key9 {grid-column: 3; grid-row: 1; background-color: var(--bg-keyboard-1);}
#key4 {grid-column: 1; grid-row: 2; background-color: var(--bg-keyboard-1);}
#key5 {grid-column: 2; grid-row: 2; background-color: var(--bg-keyboard-1);}
#key6 {grid-column: 3; grid-row: 2; background-color: var(--bg-keyboard-1);}
#key1 {grid-column: 1; grid-row: 3; background-color: var(--bg-keyboard-1);}
#key2 {grid-column: 2; grid-row: 3; background-color: var(--bg-keyboard-1);}
#key3 {grid-column: 3; grid-row: 3; background-color: var(--bg-keyboard-1);}
#keyBackspace {grid-column: 1; grid-row: 4; background-color: var(--bg-keyboard-2);}
#key0 {grid-column: 2; grid-row: 4; background-color: var(--bg-keyboard-1);}
#keyReturn {grid-column: 3; grid-row: 4; background-color: var(--bg-keyboard-1);}


#config {
  margin-top: 1em;
  font-family: var(--font-family-keyboard);
  font-size: var(--font-size-config);
  color: var(--font-color-config);
  background: var(--bg-config);
  border: 1px solid var(--bg-display-1);
  padding: 1em;
  border-radius: 0.3em;
  text-align: center;
}

#config select, #submit{
  width: 4em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  background: var(--bg-display-1);
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
}

@media (max-width: 600px) {

}

